@model TP01_Module06.Models.SamouraisVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    @Html.Partial("_SamouraiPartialWithId")
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Samourai.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
