@model AspNet_TP02_Module05.Models.PizzaCreateEditVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pizza.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Pizza.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>